.counter-container {
  width: 25rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #999;
  border-radius: 1rem;
}

.counter-container div {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.counter-container div input {
  border-radius: 1rem;
  width: 7rem;
  height: 2rem;
}

.counter-container div input:last-child {
  margin-bottom: 1rem;
}
